:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --third-bg-color: #f5f4fa;
  --primary-bth-hover-color: #188CE8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.71;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}


img {
  display: block;
}

/* utilities */

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  outline: none;
}

/* visibility */

.visibility {
  position: absolute;
  top: -100%;
}

/* container */

.header {
  display: flex;
  align-items: center;
}

/* logo */

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .color {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  outline: none;
  color: var(--accent-color);
}

.logo {
  text-decoration: none;
}

/* main nav */

.main-nav {
  display: flex;
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contact */
.contact {
  display: flex;
  margin-left: 331px;
}

.contact .item:not(:last-child) {
  margin-right: 50px;
}

.contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

.feature {
  padding: 94px 0;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* feature */

.feature-list {
  display: flex;
  align-items: center;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.container.feature {
  padding: 94px 215px;
}

.feature-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  width: 270px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* work */

.work-list {
  display: flex;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-title.work {
  margin-bottom: 50px;
}

.section.work {
  padding-bottom: 94px;
}

/* team */

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .title {
  margin-top: 30px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .item {
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-title.our-team {
  margin-bottom: 50px;
}

.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.team {
  background-color: var(--third-bg-color);
}

.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
  text-align: center;
}

.section-description {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */

.address-contact {
  display: flex;
  flex-direction: column;
}

.address-contact .item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  display: inline-block;

  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-footer .color {
  color: var(--accent-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

.logo-footer {
  text-decoration: none;
}

.cellar {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-contact.list {
  font-style: normal;
}

.logo.address {
  display: block;
  margin-bottom: 20px;
}

.logo.color.address {
  padding: 0;
}

.cellar {
  background-color: var(--secondary-bg-color);
}

.link.address {
  color: var(--footer-link-color);
}

.link.map-address {
  color: var(--primary-white-color);
}

.cellar .logo {
  color: var(--primary-white-color);
}

.cellar .logo.color {
  color: var(--accent-color);
}

.address-contact.list .link:hover,
.address-contact.list .link:focus {
  color: var(--accent-color);
}

.cellar .logo:hover,
.cellar .logo:focus {
  color: var(--accent-color);
}

/* button */

.button {
  color: var(--title-text-color);
  background-color: var(--third-bg-color);

  border: none;
  border-radius: 4px;

  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--primary-bth-hover-color);
}

.button.secondary:hover,
.button.secondary:focus {
  outline: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* filter-list */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

/* padding for card-list section */
.section.card-list {
  padding: 94px 0;
}

/* project */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list .item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.project-list .item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.project-list .item {
  background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.project-list .title {
  color: var(--title-text-color);

  margin-top: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: center;
}

.project-list .section-description {
  color: var(--primary-text-color);

  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.88;
}